/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
}

body {
    margin: 0;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #f4f4f4;
    box-sizing: border-box;
    background: #000;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    background: #ed4444;
    border-radius: 100px;
    color: #fff;
    padding: 5px 20px;
    margin-top: 20px;
    border: none;
}

.box {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 20px 30px;
}

.box + .box {
    margin-top: 20px;
}

.config {
    color: #999;
    text-align: center;
    margin-top: 10px;
}